@import url("https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    font-family: "Poppins",sans-serif;
}

body { 
    background-color: white;
    margin: 0px;
    overflow-x: hidden;
    
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

header{
    width: 100vw;
    height: 100vh;
}

.container {
    text-transform: uppercase;    
    position: relative;
    text-align: center;    
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) ,url("images/background2.jpg");
    background-size:cover;    
    background-position: center;    
    height: 100vh;
    width: 100%;   
      

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    cursor: pointer;
     
}



.navbar ul li{ 
    font-size: 20px;   
    position: relative;
    list-style: none; 
    display: inline-block;       
    margin:0 15px;
    
}

.navbar ul li a{
    text-decoration: none;
    color:white;    
}

.navbar ul li::after{
    content:"";
    height: 3.5px;
    width: 0;
    background:linear-gradient(#292a27,#5f5e5c,#292a27);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{    
    font-size: 75px;
    margin-top: 80px;         
}

button{             
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    border: 3.5px solid rgb(104, 104, 104);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{    
    background:linear-gradient(90deg,#292a27,#5f5e5c,#292a27);
    height: 100%;
    width: 0;
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;    
}

button:hover{    
    border: none;
    line-height: 30px;
}

/*                                      NOVÁ STRANA                           */

.body1 {
    background-color: rgb(207, 195, 183);    
    margin: 0px;    
}

.container1 {
    text-transform: uppercase;
    font-family: "Poppins",sans-serif;
    position: relative;
    text-align: center;      
    background-size:cover;    
    background-position: center;    
    height: 100vh;
    width: 100%;        

}

.header{
    margin-top: 0;
    height: 18%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) ,url("images/background2.jpg");
    background-size:cover ;
    padding: 0;
}   

.navbar1{    
    width: 85%;
    margin: auto;    
    text-align: center;    
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar1 ul li{     
    font-size: 20px;   
    position: relative;
    list-style: none; 
    display: inline-block;       
    margin:0 15px;
    
}

.navbar1 ul li a{
    text-decoration: none;
    color:white;    
}

.navbar1 ul li::after{
    content:"";
    height: 3.5px;
    width: 0;
    background:linear-gradient(#292a27,#5f5e5c,#292a27);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navbar1 ul li:hover::after{
    width: 100%;
}


@media(max-width:1250px) {
    .recipe{
        font-size: 15px;    
    }
    .postup1{
        
        font-size: 15px;
        
    }
}


@media (max-width: 1180px) {

    .logo{
        width: 180px;
    }

    .navbar{

        margin: 0;
    }

    .navbar ul li {
        flex-direction: column;
        font-size: 10px;
        margin: 0 8.5px;
    }

    .navbar1{        
        margin: 0
    }

    .navbar1 ul li {
        flex-direction: column;
        font-size: 10px;
        margin: 0 8.5px;
    }
    .header{
        width: 100vw;
        height: 19%;    
    }  
}

@media (max-width: 768px) {

    .navbar ul li {
        flex-direction: column;
        font-size: 11px;
        margin: 0 8.5px;
    }
    
    .logo{
        width: 120px;
    }

    .navbar1 ul li {
        flex-direction: column;
        font-size: 5px;
        margin: 0 8.5px;
    }

    .header{
        width: 100vw;
        height: 19%;    
    }  
}

@media (max-width: 480px) {

    .navbar ul li {
        font-size: 5px;
        margin: 0 8px;
    }

    .navbar1 ul li {
        font-size: 5px;
        margin: 0 8px;
    }

    .header{
        width: 100vw;
        height: 32%;
    }   
}

.recipe {    
    justify-content: center;    
    margin: 0px auto;
    padding: 20px;    
    
}

.nazev1 {
    color: #9c815d;
}

.slozeni1 {
    color: #444;
    margin-top: 15px;
}

.list {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

li {       
    margin-bottom: 5px;
}

.popis1 {    
    line-height: 1.5;
}

.postup1{
    display: inline-block;
    text-align: center;
    width: 1200px;

}


.gallery {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sloupce */
    grid-gap: 10px; /* mezera mezi obrázky */
  }

  .image {
    text-align: center; /* zarovnání obrázku a popisku */
  }
  
  .image img {
    max-width: 100%; /* zajištění, že obrázky se nebudou roztažovat přes svou původní velikost */
  }
 
  
.gdpr{
    justify-content: center;    
    margin: 0px auto;
    padding: 20px;   
    font-size: 11px; 
 
}

@media (max-width: 768px) {
    .gdpr  {
      font-size:8.5px
    }

}

@media (max-width: 480px) {
    .gdpr  {
      font-size: 5px;
    }
    
}

footer{    
    color: white;
    background-color: #2e2d2d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    font-size: 18px;
    padding: 1.2%;
    line-height: 32px;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    /* Přizpůsobení na menší zařízení */
    footer {
      margin-top: 10%;
    }
}
  
@media (max-width: 480px) {
    /* Přizpůsobení na ještě menší zařízení */
    footer {
      margin-top: 5%;
    }
}


.footer-container {    
    background-color: #4a4a4a67;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    font-size: 18px;
    padding: 2.5%;
    line-height: 32px;
    letter-spacing: 1px;
}
